<%= form_with(model: @construction, local: true) do |form| %>
  <% if construction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(construction.errors.count, "error") %> prohibited this construction from being saved:</h2>

      <ul>
      <% construction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
    <div class="form-group">
     <div class="form-inline">
        <%= form.label :'現場名' %>
        <%= form.text_field :construction_name, class:"form-control", style:"width:250px" %>
        <%= form.label :'担当者' %>
        <%= form.text_field :person, class:"form-control", style:"width:200px" %>
        <%= form.label :'請求額' %>
        <%= form.text_field :charge, class:"form-control", style:"width:250px", id:"charge"%><span style="margin-left:5px">(税抜き)</span>
     </div>
    </div>
    <table class="table table-striped table-bordered nested-fields">
      <thead>
          <tr>
            <th>年月日</th>
            <th>摘要</th>
            <th>課区</th>
            <th>税区</th>
            <th>相手科目</th>
            <th>材料費</th>
            <th>労務費</th>
            <th>外注費</th>
            <th>現場経費</th>
            <th>科目名</th>
          </tr>
      </thead>
      <tbody id="monthly_details">
        <div class = "form-group">
          <%= form.fields_for :details do |detail| %>
          <%= render 'detail_fields', f: detail %>
          <%end%>
        </div>
      </tbody>
    </table>
      <%= form.submit '登録', class: 'btn btn-primary' %>
      <%= link_to_add_association "行を追加", form, :details , class: 'btn btn-primary line_add',
        data: {
          association_insertion_node: '#monthly_details',
          association_insertion_method: 'append'
        }%>
<% end %>
