<%= form_with(model: construction, local: true) do |form| %>
  <% if construction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(construction.errors.count, "error") %> prohibited this construction from being saved:</h2>

      <ul>
      <% construction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
    <div class="form-group">
     <div class="form-inline">
        <%= form.label :'現場名' %>
        <%= form.text_field :construction_name, class:"form-control", style:"width:300px" %>
        <%= form.label :'担当者' %>
        <%= form.text_field :person, class:"form-control", style:"width:300px" %>
      </div>
    </div>



<% 
=begin
%>
    <div class="form-group">
      <%= form.label :'請負金額①' %>
      <%= form.number_field :contract_price, class:"form-control", style:"width:300px" %>
    </div>
<% 
=end
%>


    <div class="form-group">
     <div class="form-inline">
      <%= form.label :'材料費   ' %>
      <%= form.text_field :material_cost, class:"form-control plus-target", id:"material_cost", style:"width:300px" %>
      <%= form.label :'外注費   ' %>
      <%= form.text_field :subcontract_cost, class:"form-control plus-target", id:"subcontract_cost", style:"width:300px" %>
      <%= form.label :'現場経費   ' %>
      <%= form.text_field :site_overhead_expenses, class:"form-control plus-target", id:"site_overhead_expenses", style:"width:300px" %>
     </div>
    </div>

    <div class="form-group">
     <div class="form-inline">
      <%= form.label :'原価計' %>
      <%= form.text_field :total_cost, class:"form-control", style:"width:300px", id:"total_cost"%>
      <button type="button" class="btn btn-primary add_button">計算</button>
     </div>
    </div>

<% 
=begin
%>
    <div class="form-group">
      <%= form.label :'販管費13% ③' %>
      <%= form.number_field :selling, class:"form-control", style:"width:300px" %>
    </div>

    <div class="form-group">
      <%= form.label :'予算収支' %>
      <%= form.number_field :cash_budget, class:"form-control", style:"width:300px" %>
    </div>
<% 
=end
%>


    <div class="form-group">
     <div class="form-inline">
      <%= form.label :'請求額' %>
      <%= form.number_field :charge, class:"form-control", style:"width:300px", id:"charge" %><span style="margin-left:5px">(税抜き)</span>
     </div>
    </div>

    <div class="form-group">
     <div class="form-inline">
      <%= form.label :'差額' %>
      <%= form.number_field :pay_the_difference, class:"form-control", style:"width:300px", id:"pay_the_difference" %>
      <button type="button" class="btn btn-primary minus_button">計算</button>

     </div>
    </div>

<%
=begin
%>
    <div class="form-group">
      <%= form.label :'差額 ⑤' %>
      <%= form.number_field :pay_the_difference, class:"form-control", style:"width:300px" %>
    </div>

    <div class="form-group">
      <%= form.label :'販管費 ⑤-③' %>
      <%= form.number_field :selling_the_difference, class:"form-control", style:"width:300px" %>
    </div>

<%
=end
%>

    <div class="form-inline">
      <%= form.label :'備考' %>
      <%= form.text_area :comment, class:"form-control", style:"width:300px" %>
    </div>

    <div class="actions">
      <%= form.submit '登録' %>
    </div>
<% end %>
