<p id="notice"><%= notice %></p>


<table class = "table table-striped table-bordered">
  <thead>
    <tr>
      <th class="construction-list">工事No.</th>      
      <th class="construction-list">現場名</th>
      <th class="construction-list">担当</th>
      <th class="construction-list">材料費</th>
      <th class="construction-list">労務費</th>
      <th class="construction-list">外注費</th>
      <th class="construction-list">現場経費</th>
      <th class="construction-list">原価計</th>
      <th class="construction-list">請求額(税抜き)</th>
      <th class="construction-list">差額</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @constructions.each do |construction| %>
      <tr>
        <td class="list-num"><%= construction.id %></td>
        <td class="construction-list"><%= construction.construction_name %></td>
        <td class="construction-list"><%= construction.person %></td>
        <td class="list-num"><%= converting_to_jpy(construction.details.sum(:material_cost).floor) %></td>
        <td class="list-num"><%= converting_to_jpy(construction.details.sum(:labor_cost).floor) %></td> 
        <td class="list-num"><%= converting_to_jpy(construction.details.sum(:subcontract_cost).floor) %></td> 
        <td class="list-num"><%= converting_to_jpy(construction.details.sum(:site_overhead_expenses).floor) %></td>
        <td class="list-num"><%= converting_to_jpy((construction.details.sum(:material_cost)+construction.details.sum(:labor_cost)+construction.details.sum(:subcontract_cost)+construction.details.sum(:site_overhead_expenses)).floor) %></td>       
        <td class="list-num"><%= converting_to_jpy(construction.charge) %></td>
        <td class="list-num"><%= converting_to_jpy((construction.charge - (construction.details.sum(:material_cost)+construction.details.sum(:labor_cost)+construction.details.sum(:subcontract_cost)+construction.details.sum(:site_overhead_expenses))).floor) %></td>
        <td><%= link_to '詳細', construction_path(construction.id) %></td>
        <td><%= link_to '編集', edit_construction_path(construction) %></td>
        <td><%= link_to '削除', construction, method: :delete, data: { confirm: '削除しますか？' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

