<p id="notice"><%= notice %></p>

<p>
  <strong>Construction name:</strong>
  <%= @construction.construction_name %>
</p>

<p>
  <strong>Contract price:</strong>
  <%= @construction.contract_price %>
</p>

<p>
  <strong>Person:</strong>
  <%= @construction.person %>
</p>

<p>
  <strong>Material cost:</strong>
  <%= @construction.material_cost %>
</p>

<p>
  <strong>Subcontract cost:</strong>
  <%= @construction.subcontract_cost %>
</p>

<p>
  <strong>Site overhead expenses:</strong>
  <%= @construction.site_overhead_expenses %>
</p>

<p>
  <strong>Total cost:</strong>
  <%= @construction.total_cost %>
</p>

<p>
  <strong>Selling:</strong>
  <%= @construction.selling %>
</p>

<p>
  <strong>Cash budget:</strong>
  <%= @construction.cash_budget %>
</p>

<p>
  <strong>Charge:</strong>
  <%= @construction.charge %>
</p>

<p>
  <strong>Pay the difference:</strong>
  <%= @construction.pay_the_difference %>
</p>

<p>
  <strong>Selling the difference:</strong>
  <%= @construction.selling_the_difference %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @construction.comment %>
</p>

<%= link_to 'Edit', edit_construction_path(@construction) %> |
<%= link_to 'Back', constructions_path %>
