
 <h4>工事名: <%= @construction.construction_name%></h4>
 <h4>請負金額: <%= converting_to_jpy(@construction.charge.floor)%>円</h4>

 <table class="table table-striped table-bordered nested-fields">
      <thead>
          <tr>
            <th class="construction-list">年月</th>
            <th class="construction-list">摘要</th>
            <th class="construction-list">課区</th>
            <th class="construction-list">税区</th>
            <th class="construction-list">相手科目</th>
            <th class="construction-list">材料費</th>
            <th class="construction-list">労務費</th>
            <th class="construction-list">外注費</th>
            <th class="construction-list">現場経費</th>
            <th class="construction-list">科目名</th>
          </tr>
      </thead>
    <% @details.each do |month, detail| %>
      <tbody>
          <% detail.each_with_index do |details, index| %>
            <tr>
              <td class="construction-list"><%=details.construction_date.year.to_s + "-" + details.construction_date.month.to_s %></td>
              <td class="construction-list"><%=details.detail_name %></td>
              <td class="construction-list"><%=details.tax_class %></td>
              <td class="construction-list"><%=details.tax_rate %></td>
              <td class="construction-list"><%=details.corresponding_account %></td>
              <td class="list-num"><%=converting_to_jpy(details.material_cost) %></td>
              <td class="list-num"><%=converting_to_jpy(details.labor_cost) %></td>
              <td class="list-num"><%=converting_to_jpy(details.subcontract_cost) %></td>
              <td class="list-num"><%=converting_to_jpy(details.site_overhead_expenses) %></td>
              <td class="construction-list"><%=details.account_name %></td>
            </tr>
            <tr>
            <% if index == detail.size - 1 %>
              <td></td><td></td><td></td><td></td>
              <td class="construction-list"><%= month.month.to_s + "月合計"%></td>
              <td class="list-num">
                <% array = [] %>
                <% detail.each do |s| %>
                <% array << s.material_cost %>
                <% end %>
                <%= converting_to_jpy(array.sum)%>
              </td>
              <td class="list-num">
                <% array = [] %>
                <% detail.each do |s| %>
                <% array << s.labor_cost %>
                <% end %>
                <%= converting_to_jpy(array.sum)%>
              </td>
              <td class="list-num">
                <% array = [] %>
                <% detail.each do |s| %>
                <% array << s.subcontract_cost %>
                <% end %>
                <%= converting_to_jpy(array.sum)%>
              </td>
              <td class="list-num">
                <% array = [] %>
                <% detail.each do |s| %>
                <% array << s.site_overhead_expenses %>
                <% end %>
                <%= converting_to_jpy(array.sum)%>
              </td>
              <td class="list-num">
                <% array = [] %>
                <% detail.each do |s| %>
                <% array << s.material_cost %>
                <% array << s.labor_cost %>
                <% array << s.subcontract_cost %>
                <% array << s.site_overhead_expenses %>
                <% end %>
                <%= "原価月計:"+ converting_to_jpy(array.sum).to_s%>
              </td>
             <%end%>
            </tr>
          <%end%>
      </tbody>
    <%end%>
      <tbody>
        <tr>
          <td></td><td></td><td></td><td></td>
              <td class="construction-list">総計</td>
              <td class="list-num">
                <% array = [] %>
                <% @total_costs.each do |s| %>
                <% array << s.material_cost %>
                <% end %>
                <%= converting_to_jpy(array.sum)%>
              </td>
              <td class="list-num">
                <% array = [] %>
                <% @total_costs.each do |s| %>
                <% array << s.labor_cost %>
                <% end %>
                <%= converting_to_jpy(array.sum)%>
              </td>
              <td class="list-num">
                <% array = [] %>
                <% @total_costs.each do |s| %>
                <% array << s.subcontract_cost %>
                <% end %>
                <%= converting_to_jpy(array.sum)%>
              </td>
              <td class="list-num">
                <% array = [] %>
                <% @total_costs.each do |s| %>
                <% array << s.site_overhead_expenses %>
                <% end %>
                <%= converting_to_jpy(array.sum)%>
              </td>
              <td class="list-num">
                <% array = [] %>
                <% @total_costs.each do |s| %>
                <% array << s.material_cost %>
                <% array << s.labor_cost %>
                <% array << s.subcontract_cost %>
                <% array << s.site_overhead_expenses %>
                <% end %>
                <%= "原価総計:"+ converting_to_jpy(array.sum).to_s%>
              </td>
        </tr>
      </tbody>
  </table>


  <%= link_to '編集', edit_construction_path(@construction) %>





<%# 
      irb(main):023:0> @details = Detail.where(construction_id: @construction).group_by(&:construction_date)
  Detail Load (1.2ms)  SELECT "details".* FROM "details" WHERE "details"."construction_id" = $1  [["construction_id", 22]]
=> {
    Sun, 16 Aug 2020=>
    [#<Detail id: 15, detail_name: "クレッシェンド　２月分施工代", tax_rate: 10, tax_class: 31, material_cost: 2866054, labor_cost: nil, subcontract_cost: nil, site_overhead_expenses: nil, corresponding_account: "買掛金", account_name: "主要材料", construction_date: "2020-08-16", created_at: "2020-08-16 06:59:28", updated_at: "2020-08-16 06:59:28", construction_id: 22>, 
    #<Detail id: 16, detail_name: "消費税額", tax_rate: nil, tax_class: nil, material_cost: nil, labor_cost: nil, subcontract_cost: -500000, site_overhead_expenses: nil, corresponding_account: "仮払消税", account_name: "外注加工", construction_date: "2020-08-16", created_at: "2020-08-16 06:59:28", updated_at: "2020-08-16 07:01:01", construction_id: 22>
    ], 
    Wed, 16 Sep 2020=>
    [#<Detail id: 17, detail_name: "test", tax_rate: nil, tax_class: nil, material_cost: 10000000, labor_cost: nil, subcontract_cost: nil, site_overhead_expenses: nil, corresponding_account: "", account_name: "", construction_date: "2020-09-16", created_at: "2020-08-16 07:40:56", updated_at: "2020-08-16 07:40:56", construction_id: 22>]} %>