<!DOCTYPE html>
<html>
  <head>
    <title>Myapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarEexample">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">クレッシェンド工事管理</a>
        </div>
        
        <div class="collapse navbar-collapse" id="navbarEexample">
          <ul class="nav navbar-nav">
            <li><%= link_to '現場登録', new_construction_path %></li>
            <li><%= link_to '現場一覧', constructions_path %></li>
          </ul>
        </div>
      </div>
</nav>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
